 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Thin.woff2') format('woff2');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
     font-weight: 200;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Light.woff2') format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Medium.woff2') format('woff2');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-SemiBold.woff2') format('woff2');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
     font-weight: 800;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: Vazirmatn;
     src: url('../font/vazir/Vazirmatn-Black.woff2') format('woff2');
     font-weight: 900;
     font-style: normal;
     font-display: swap;
 }

 body {
     margin: 0;
     direction: rtl;
     font-family: vazirmatn;
 }

 a {
     text-decoration: none;
     transition: color 0.3s;
 }

 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
 }

 .header {
     padding: 35px 0;
 }

 .wrapper {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
 }

 .wrapper-tow {
     width: 100%;
     max-width: 964px;
     margin: 0 auto;
 }

 button {
     font-family: vazirmatn;
 }

 video {
     width: 100%;
     height: auto;
 }


 .header .header__flex {
     display: flex;
     gap: 20px;
 }

 .header .main-menu ul {
     display: flex;
     gap: 20px;
 }

 .header .main-menu ul li a {
     display: flex;
     align-items: center;
     color: #252A3C;
     font-size: 17px;
     gap: 5px;
 }

 .header .sub-menu {
     position: relative;
 }

 .header .main-menu .sub-menu {
     display: none;

 }

 .header .main-menu .open-down:hover .sub-menu {
     display: block;
 }

 .header .main-menu .open-down-one:hover .sub-menu {
     display: block;
 }

 .sub-menu ul {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 100%;
     align-items: start;
     border: 1px solid #dedede;
     background-color: #fff;
     border-radius: 8px;
     width: 160px;
 }

 .header .sub-menu ul li a {
     color: #252A3C;
     font-size: 15px;
     margin: 0;
     gap: 10px;

 }

 .hero-section .hero-section__flex {
     display: flex;
     background-color: #21AA58;
     align-items: center;
 }

 .hero-section .hero-section__content {
     display: flex;
     width: 50%;
     padding-right: 200px;
     flex-direction: column;
     gap: 50px;
     color: #fff;
     padding-left: 80px;
 }

 .hero-section .hero-section__content button {
     border: 0;
     width: 100px;
     height: 56px;
     border-radius: 8px;
     color: #21AA58;
     font-size: 16px;
     font-weight: 400;
 }

 .hero-section .hero-section__content button a {
     color: #21AA58;
     padding: 8px;
 }

 .hero-section .hero-section__content h1,
 .hero-section .hero-section__content p {
     margin: 0;
 }

 .hero-section .hero-section__content p {
     font-size: 20px;
 }

 .hero-section .hero-section__baner {
     width: 50%;
     background-image: url(https://web-cdn.snapp.ir/snapp-website/images/homepage/intro_desktop.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 500px;
 }

 .hero-section .hero-section__content .vorod {
     display: block;
     color: #fff;
     border: 1px solid #fff;
     border-radius: 8px;
     text-align: center;
     padding: 10px;
 }

 .hero-section .hero-section__content .vorod:hover {
     background: rgba(51, 177, 101, 1);
 }

 .title-section {
     text-align: center;

 }

 .title-section h1 {
     margin-bottom: 15px;
 }

 .title-section p {
     margin-top: 0;
     font-size: 20px;
     font-weight: 300;
 }

 .store {
     padding: 70px 0;
 }

 .store ul {
     display: flex;
     justify-content: center;
 }

 .store ul li a img {
     width: 80%;
     padding: 10px;
 }

 .store ul li {
     width: 16%;
 }

 .apps ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 50px;

 }

 .apps h2 {
     text-align: center;
     color: #252A3C;
     font-weight: 800;
     margin-bottom: 50px;
     font-size: 32px;
 }

 .apps h3 {
     color: #252A3C;
     font-size: 14px;
 }

 .apps p {
     color: #252A3C;
     font-size: 14px;
 }

 .apps .apps-item--content h3,
 .apps .apps-item--content p {
     margin: 0;
 }


 .apps ul li {
     width: 29%;
     align-items: center;
 }

 .apps ul li img {
     width: 62px;
     height: 62px;
     align-items: center;
     justify-content: center;
 }

 .apps ul li a {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .slider {
     margin-top: 70px;
     margin-bottom: 50px;
     position: relative;
 }

 .slider img {
     width: 100%;
     height: auto;
     border-radius: 8px;
 }


 .slider .dots {
     position: absolute;
     left: 50%;
     bottom: 10px;
     transform: translatex(-50%);
     display: flex;
     gap: 5px;
     background: rgb(255, 255, 255, 0.12);
     border-radius: 999px;
     padding: 3px;
 }

 .slider .dots div {
     width: 6px;
     height: 6px;
     border-radius: 50%;
     background-color: rgb(255, 255, 255, 0.12);
 }

 .slider .dots div.active {
     background-color: rgb(255, 255, 255, 1);
 }

 .tow-col-box .tow-col-box--flex {
     display: flex;
     gap: 40px;
 }

 .tow-col-box img {
     width: 50%;
     height: auto;
 }

 .tow-col-box .content p {
     font-weight: 200;
 }

 .tow-col-box .content h4 {
     font-size: 20px;
 }

 .tow-col-box .content {
     width: 50%;
     height: auto;
     padding-left: 200px;
 }

 .features {
     position: relative;
     top: -120px;
 }

 .features ul {
     display: flex;
 }

 .features ul li {
     width: 33.33%;
     padding: 33px;
 }

 .features ul li .image {
     width: 100%;
     border-radius: 8px;
     background-color: #ebecf2;
     text-align: center;
 }

 .light-bg {
     background-color: rgba(233, 247, 238, 1);
 }

 .space {
     padding: 24px 0;
 }

 .video video {
     margin-top: 30px;
     border-radius: 8px;
     margin-bottom: 30px;
 }

 .button {
     background-color: #21AA58;
     border-radius: 8px;
     font-weight: bold;
     text-align: center;
     display: inline-block;
     padding: 10px 30px;
 }

 .button a {
     color: #fff;
 }

 .driver-features ul {
     display: flex;
     flex-wrap: wrap;
 }

 .driver-features ul li {
     width: 50%;
     margin: 10px 0;
 }

 .driver-features ul li:nth-child(odd) {
     padding-left: 20px;

 }

 .driver-features ul li .holder {
     padding: 40px 25px;
     background: #fff;
     border-radius: 8px;
     max-height: 266.26;

 }

 .driver-features ul li img {
     width: 120px;
     height: auto;
     display: block;
     margin: 0 auto;
     padding: 10px 0;

 }

 .driver-features ul li h5 {
     margin: 0;
     font-weight: 800;
     font-size: 15px;
 }

 .driver-features ul li p {
     color: #252A3C;
     font-size: 15px;
 }

 .footer .footer-list--flex ul {
     display: flex;
     justify-content: center;
     gap: 15px;
     padding-top: 20px;
 }

 .footer .footer-list--flex ul li p {
     color: #252a3c;
     font-weight: 300;
     font-size: 18px;
 }

 .footer .social-logo ul {
     display: flex;
     justify-content: center;
     gap: 15px;
 }

 .footer .social-logo ul li a img {
     width: 29px;
     height: 29px;
 }

 .footer .certificate ul {
     display: flex;
     justify-content: center;
     gap: 15px;
     padding-top: 10px;
 }